.turnos {
  width: 170px;
  height: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1ft, 1ft;
  position: relative;
  margin-top: 20px;

  h2 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .turno {
    border: 3px solid white;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .turno:nth-child(even) {
    border-right: none;
  }
}

.foco {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85px;
  height: 43px;
  background-color: #40e0d0;
  z-index: -1;
}
.cuadro:hover {
  background-color: gray;
}
#jugarDeNuevo {
  background-color: #40e0d0;
  padding: 10px 25px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  margin-bottom: 30px;
}
#jugarDeNuevo:hover {
  padding: 10px 35px;
  background-color: #3a1c71;
  color: white;
}
.seleccionDeModo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.seleccionDeModo button {
  background-color: #40e0d0;
  padding: 10px 25px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
.seleccionDeModo button:hover {
  padding: 10px 35px;
  background-color: #3a1c71;
  color: white;
}
.volverAlMenu {
  background-color: #3a1c71;
  padding: 10px 25px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  display: inline;
  margin: 20px 0px 0px 0px;
  color: white;
}

.volverAlMenu:hover {
  padding: 10px 35px;
  background-color: #40e0d0;
  color: white;
}
