.music-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 20px;
}
.music-controls:hover {
  padding: 0.8rem 1.3rem;
}
#playPauseBtn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #3a1c71;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

#playPauseBtn:hover {
  background-color: #40e0d0;
  padding: 0.8rem 1.3rem;
}

#volumeControl {
  width: 100px;
}
