.music-controls {
  display: flex;

  gap: 1rem;
  margin: $quinto-margin;
}
.music-controls:hover {
  padding: $secundary-padding;
}
#playPauseBtn {
  padding: $tercer-padding;
  border: none;
  border-radius: $secundary-border-radius;
  background-color: $secundary-background-color;
  color: $primer-color;
  cursor: pointer;
  transition: background-color 0.3s;
}

#playPauseBtn:hover {
  background-color: $tercer-background-color;
  padding: $secundary-padding;
}

#volumeControl {
  width: 100px;
}
