$primer-background: white;
$secundary-background-color: #3a1c71;
$tercer-background-color: #40e0d0;
$primer-border-radius: 8px;
$secundary-border-radius: 5px;
$primer-color: white;
$primary-margin: 15px;
$secundary-margin: 10px;
$tercer-margin: 5px;
$cuarto-margin: 10px 0px 0px 0px;
$quinto-margin: 20px;
$primer-margin-bottom: 30px;

$primer-padding: 5px 15px;
$secundary-padding: 0.8rem 1.3rem;
$tercer-padding: 0.5rem 1rem;
