.volverAlMenu {
  background-color: #3a1c71;
  padding: 5px 15px;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  display: inline;
  margin: 10px 0px 0px 0px;
  color: white;
}

.volverAlMenu:hover {
  padding: 5px 15px;
  background-color: #40e0d0;
  color: white;
}
